html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
/* NAVBAR BASE */
.nav-icon {
  height: 3rem;     /* matches nav link size */
  width: auto;
  vertical-align: middle;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color: #001644;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  transition: all 0.3s ease;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
.nav-links a.active {
  background: #9ec2f8;
  color: black;
  padding: 5px 10px;
  border-radius: 6px;
}
nav, .hero, .hero h1 {
    margin: 0;
    padding: 0;
}

/* Hero Section */
.hero {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url(images/cleaning-services.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.hero-text {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 50px;
  max-width: 800px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(1%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hero-text:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
.hero-text h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.hero-text p {
  font-size: 1.3rem;
  margin-bottom: 30px;
}
.accent-text {
  color: #ffcc00;
}
.hero-text span {
  font-weight: bold;
}
.hero-text h2 {
  font-size: 2rem;
}
.hero-text ul {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;   /* easiest way */
}
.cta-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ffcc00;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.cta-button:hover {
  background-color: #1c44c8;
}

/* FOOTER */
footer {
  background-color: #001644;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}





/* MOBILE VIEW */
@media (max-width: 768px) {
  .nav-links {
    display: none;              /* hidden by default */
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #1f64fa;
    width: 100%;
    flex-direction: column;
    padding: 20px 0;
    text-align: center;
    gap: 20px;
    z-index: 9999; /* <-- add this */
    background-color: #1f64fa; /* make sure it's not transparent */
  }

  .nav-links.active {
    display: flex;              /* show when menu is toggled */
  }

  .menu-toggle {
    display: block;
  }
}
